main {
    height: 100%;

    font-family: Raleway;
    font-style: normal;
}

nav {
    .active {
        color: red;
    }
}

section {
    height: 100%;
    width: 50%;
}

#welcome {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .presentation-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 6%;
        height: 65%;
    
        h1 {
            color: $primary-color;
            margin: 0;
            font-weight: 800;
            font-size: 96px;
            line-height: 56px;
        }
    
        h2 {
            font-family: Raleway;
            font-weight: 400;
            font-size: 48px;
            font-style: normal;
        }
    
        .corean-char-name {
            color: $primary-color;
            font-weight: 800;
        }
    }

    .centered-horitontally {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        width: 50%;

        div {
            width: 100%;
        }
    }

    button {
        display: block;

        background: #ED6D67;
        border: 1px solid #ED6D67;
        color: white;
        font-family: 'Raleway';
        border-radius: 115px;

        width: 40%;
        height: 60px;
        font-size: 36px;
    }

    svg {
        margin: 1%;
    }
}

#about {
    color: white;
    background: linear-gradient(77.78deg, #3C4D58 10.59%, #4D577C 90.44%);
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .presentation-content {
        width: 30%;
    }

    h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;

        font-size: 36px;

        position: relative;
        z-index: 0;
        letter-spacing: 0.2em;
        margin-bottom: 20%;
    }

    h2::before {
        content: "정보";

        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.2em;

        position: absolute;
        display: block;
        z-index: -1;

        text-align: center;
        color: rgba(255, 255, 255, 0.15);
        font-size: 80px;

        top:-55%;
        text-align: center;
        width: 100%;
    }

    p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size:  18px;
        line-height: 27px;
    }

    b {
        font-weight: bold;
    }
}

#experiences {
    background: white;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .presentation-content {
        width: 30%;
    }

    h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;

        font-size: 36px;
        color: #C25C88;

        position: relative;
        z-index: 0;
        letter-spacing: 0.2em;
        margin-bottom: 20%;
    }

    h2::before {
        content: "이력서";

        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.2em;

        position: absolute;
        display: block;
        z-index: -1;

        text-align: center;
        color: rgba(102, 102, 102, 0.15);
        font-size: 80px;

        top:-55%;
        text-align: center;
        width: 100%;
    }

    svg {
        width: 30%;
    }

    h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-size: 24px;
        margin-bottom: 0;
        color: #C25C88;
    }

    h4 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #ABA69D;
        margin-top: 2%;
        margin-bottom: 0;
    }

    .experience {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;

        color: #666666;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .button-carousel {
            border: none;
            border-radius: 90%;
            width: 11px;
            height: 11px;
            background-color: rgba(81, 93, 122, 0.15);

            margin: 3px;
        }
        
        .active {
            background-color: #C25C88;
        }
    }

    a {
        text-decoration: none;
        align-self: end;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        color: #C25C88;
        font-size: 18px;
    }
}

#services {
    background: white;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .presentation-content {
        width: 50%;
    }

    h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;

        font-size: 36px;
        color: #845C91;

        position: relative;
        z-index: 0;
        letter-spacing: 0.2em;
        margin-bottom: 20%;
    }

    h2::before {
        content: "이력서";

        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.2em;

        position: absolute;
        display: block;
        z-index: -1;

        text-align: center;
        color: rgba(102, 102, 102, 0.15);
        font-size: 80px;

        top:-55%;
        text-align: center;
        width: 100%;
    }

    .flex {
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        margin-left: 7%;
    }

    .text-block {
        width: 30%;
    }

    h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #845C91;

        letter-spacing: 0.2em;
    }

    p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;

        color: #666666;
    }
}

#contact {
    background: white;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .presentation-content {
        width: 33%;
        text-align: left;
    }

    h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        text-align: center;

        font-size: 36px;
        color: #4D577C;

        position: relative;
        z-index: 0;
        letter-spacing: 0.2em;
        margin-bottom: 20%;
    }

    h2::before {
        content: "이력서";

        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.2em;

        position: absolute;
        display: block;
        z-index: -1;

        text-align: center;
        color: rgba(102, 102, 102, 0.15);
        font-size: 80px;

        top:-55%;
        text-align: center;
        width: 100%;
    }

    p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;

        color: #666666;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    .vertical-align {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 5%;
    }

    .vertical-align:nth-child(1) {
        margin-right: 5%;
    }

    label {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        letter-spacing: 0.1em;

        color: #4D577C;
    }

    input {
        border: none;
        border-bottom: 1px solid #666666;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    textarea {
        margin-top: 2%;
        height: 10vh;
        resize: none;
        border-radius: 10px;
    }

    button {
        border: 1px solid #4D577C;
        border-radius: 50px;

        width: 175px;
        height: 44px;

        background-color: white;

        display: block;
        margin:0 auto;
        margin-top: 5%;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #4D577C;
    }
}